insta-place/Backend/node_modules/
insta-place/Backend/uploads/images/*
!insta-place/Backend/uploads/images/.gitkeep

insta-place/Frontend/node_modules/
insta-place/Frontend/build/
insta-place/Frontend/coverage/

transaction-service/target/
transaction-service/.sqlx/

*.log
.DS_Store

.env
.env.*
!.env.example
